<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Datos</title>
</head>
<body>
    <h1>Lista de Celulares</h1>
    <ul id="listaCelulares"></ul>

    <h1>Lista de Clientes</h1>
    <ul id="listaClientes"></ul>

    <h1>Lista de Proveedores</h1>
    <ul id="listaProveedores"></ul>

    <h2>Agregar Producto</h2>
    <form id="productoForm">
        <label>id:</label>
        <input type="number" id="id" required>
        <label>Marca:</label>
        <input type="text" id="marca" required>
        <label>Modelo:</label>
        <input type="text" id="modelo" required>
        <label>Precio:</label>
        <input type="number" id="precio" required>
        <button type="submit">Agregar Producto</button>
    </form>

    <script src="/static/js/listas.js"></script>
</body>
</html>
